<main class="container pt-3 d-flex flex-column min-vh-100 shadow">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a href="/project/add" class="p-2 border rounded bg-dark text-light text-decoration-none">+ Add projeto</a>
        </div>
        <div>
            <h2 class="text-center mb-3">Meus Projetos</h2>
        </div>
        <div class="text-center border rounded px-3 bg-dark">
            <div class="text-light">
                <i class="bi bi-people fs-3 text-center"> {{userProfile.name}}</i>
            </div>
        </div>
    </div>


    <section class="border-top p-3">

        <ol class="p-0 d-flex justify-content-center row" id="listaProjetos">
            {{#each userProjects}}
           
            <li class="col-12 col-md-6 col-lg-3 list-group p-0 m-2 card shadow">
                <div
                    class="card-header bg-dark text-light d-flex justify-content-between align-items-center ps-3 pe-1 py-1">
                    <h3 class="m-0">{{this.destination}} </h3>
                    <div class="d-flex align-items-center">
                        <a href="/project/{{this.id}}" class="text-decoration-none text-dark ">
                            <button class="btn btn-dark">
                                <i class="bi bi-arrows-angle-expand text-light"></i>
                            </button>
                        </a>
                    </div>
                </div>

                <div class="card-body bg-light py-0 ps-0 overflow-hidden rounded-bottom">
                    <div class="row ">
                        <div class="col-6 projectImg border-end border-3"></div>
                        <div class="col-6 p-3 pb-0">
                            <div class="text-center border border-3 rounded p-1">
                                <h4 class="fs-6 m-0">Status</h4>
                                <p class="fs-5 m-0">{{this.status}}</p>
                            </div>
                            <div class="text-center border border-3 rounded p-1 mt-1 ">
                                <h4 class="fs-6 m-0">Tipo</h4>
                                <p class="fs-5 m-0">{{this.exchangeType}}</p>
                            </div>
                            <div class="d-flex justify-content-center border-top border-bottom my-1">
                                <a href="/project/update/{{this.id}}" class="text-decoration-none text-center">
                                    <button type="button" class="btn btn-light p-1">
                                        <i class="bi bi-pencil-square text-light text-dark"> Editar</i>
                                    </button>
                                </a>
                                <form action="/project/remove" method="post">
                                    <input type="hidden" name="id" value="{{this.id}}">
                                    <button type="submit" class="btn btn-light p-1">
                                        <i class="bi bi-trash" text-dark> Deletar</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            {{/each}}
        </ol>

    </section>
</main>