<main class="container pt-3 d-flex flex-column min-vh-100">
    <h2 class="text-center mb-3">Meus Projetos</h2>

    <section class="border-top p-3">
        <div class="">
            <!-- <button type="button" class="btn btn-dark" onclick="criaProjeto()">+ Criar projeto</button>-->
            <a href="/project/add" class="p-2 border rounded bg-dark text-light text-decoration-none">+ Add projeto</a>

        </div>
        <ol class="d-flex flex-wrap justify-content-center p-0" id="listaProjetos">

            {{#each userProjects}}
            <li class="list-group-item card p-0 mt-3 m-1">
                <div
                    class="card-header bg-dark text-light pb-0 d-flex justify-content-between align-items-center rounded-top ps-3 pe-3">
                    <h3>
                        <input class="form-control-plaintext text-light fw-bold d-flex align-items-center" type="text"
                            value="{{this.destination}}" disabled>
                    </h3>
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-dark text-center">
                            <a href="/project/update/{{this.id}}" class="text-decoration-none text-center">
                                <i class="bi bi-pencil-square text-light"> Editar</i>
                            </a>
                        </button>

                        <form action="/project/remove" method="post">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <button type="submit" class="btn btn-dark text-center">
                                <i class="bi bi-trash"> Deletar</i>
                            </button>
                        </form>
                    </div>
                </div>
                <a href="/project/{{this.id}}" class="text-decoration-none text-dark">
                    <div class="card-body bg-light p-3 pb-0 border rounded-bottom d-flex ">
                        <div class="w-100">
                            <div class="text-center">
                                <label for="" class="form-label">Status</label>
                                <input type="text" class="form-control m-0" value="{{this.status}}" disabled>
                            </div>
                            <div class="text-center">
                                <label for="" class="form-label">Tipo</label>
                                <input type="text" class="form-control m-0" value="{{this.exchangeType}}" disabled>
                            </div>
                            <div class="text-end p-1">
                                <i class="bi bi-arrows-angle-expand text-dark"> Expandir</i>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            {{/each}}
        </ol>
    </section>
    <div>
        <h1>
            Projetos de:
        </h1>

        <figure>
            <blockquote>
                "{{userProfile.name}}"
            </blockquote>
        </figure>

    </div>


</main>