<main class="container">
    <h1 class="text-center p-4">Editar item {{projectItem.name}}</h1>
    <form action="/project-item/edit" method="post" class="d-flex flex-column align-items-center">
        <input type="hidden" name="id" value="{{projectItem.id}}">
        <input type="hidden" name="ProjectId" value="{{projectItem.ProjectId}}">

        <div class="p-3 rounded border-bottom border-5 shadow mb-5">
            <div>
                <input type="text" name="name" placeholder="{{projectItem.name}}" value="{{projectItem.name}}"
                    class="form-control-plaintext form-control mb-3 fs-3 text-center border-bottom rounded">
            </div>
            <div class="">
                <input type="number" name="cost"  placeholder="{{projectItem.cost}}" value="{{projectItem.cost}}" step="0.01" min="0"
                    class="form-control-plaintext form-control mb-3 text-center border-bottom rounded">
                <textarea type="text" name="description" placeholder="{{projectItem.description}}"
                    class="form-control-plaintext form-control mb-3  text-center border-bottom rounded">{{projectItem.description}}</textarea>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-success mt-3">Adicionar</button>
                <!-- <button type="text" class="btn btn-danger ms-3 mt-3">Cancelar</button>-->
            </div>
        </div>
    </form>
</main>