<main class="container min-vh-100 shadow">
    <div class="pt-3 d-flex flex-column justify-content-center align-items-center">
        <form action="/searchProjects" method="get">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Procurar"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button type="submit" class="btn btn-dark text-center">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        {{#if search}}
        <p class="fw-bold">Buscando por: {{search}}</p>
        {{else}}
        <p class="fw-bold">Todos os projetos: </p>
        {{/if}}
    </div>

    <ul class="d-flex flex-wrap justify-content-center p-0 row">
        {{#each projects}}

        <li class="col-12 col-md-6 col-lg-3 list-group p-0 m-2 card shadow">
            <div
                class="card-header bg-dark text-light d-flex justify-content-between align-items-center ps-3 pe-1 py-1">
                <h3 class="m-0">{{this.destination}} </h3>

                <div class="d-flex align-items-center">
                    <a href="/project/{{this.id}}" class="text-decoration-none text-dark ">
                        <button class="btn btn-dark">
                            <i class="bi bi-arrows-angle-expand text-light"></i>
                        </button>
                    </a>
                </div>
            </div>

            <div class="card-body bg-light py-0 ps-0 overflow-hidden rounded-bottom">
                <div class="row ">
                    <div class="col-6 projectImg border-end border-3"></div>
                    <div class="col-6 p-3 pb-0">
                        <div class="text-center border border-3 rounded p-1">
                            <h4 class="fs-6 m-0">Status</h4>
                            <p class="fs-5 m-0">{{this.status}}</p>
                        </div>
                        <div class="text-center border border-3 rounded p-1 mt-1 ">
                            <h4 class="fs-6 m-0">Tipo</h4>
                            <p class="fs-5 m-0">{{this.exchangeType}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between p-1 mt-1">
                <p class="m-0"> {{this.updatedAt}} - {{this.User.name}}</p>
            </div>
        </li>

        {{/each}}
    </ul>
</main>