<main class="container min-vh-100 shadow">
    <div class="pt-3 d-flex flex-column justify-content-center align-items-center">
        <form action="/searchProjects" method="get">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Procurar"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button type="submit" class="btn btn-dark text-center">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>

        {{#if search}}
        <p class="fw-bold">Buscando por: {{search}}</p>
        {{else}}
        <p class="fw-bold">Todos os projetos: </p>
        {{/if}}
    </div>

    <ul class="d-flex flex-wrap justify-content-center p-0">
        {{#each projects}}

        <li class="list-group-item card p-0 my-3 w-100 shadow">

            <div
                class="card-header bg-dark text-light pb-0 d-flex justify-content-between align-items-center rounded-top ps-3 pe-3">
                <h3>
                    <input class="form-control-plaintext text-light fw-bold d-flex align-items-center" type="text"
                        value="{{this.destination}}" disabled>
                </h3>
                <div class="text-center border rounded px-3 text-light">
                    <div class="text-light">
                        <i class="bi bi-people fs-3 text-center"> {{this.User.name}}</i>
                    </div>
                </div>
            </div>

            <div class="card-body bg-light py-0 ps-0 border rounded-bottom overflow-hidden">
                <a href="/project/{{this.id}}" class="text-decoration-none text-dark ">
                    <div class="row ">
                        <div class="col-3 projectImg border-end border-3">
                        </div>
                        <div class="col-9 p-0">
                            <div class="row">
                                <div class="col-9 p-3">
                                    <p class="ps-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad quas
                                        dolores esse
                                        corporis abtempora cum, repellat non ex ratione tenetur magnam? Nam, ducimus
                                        sint repudiandaeconsectetur voluptas voluptates delectus.</p>
                                </div>
                                <div class="col-3 p-3 pb-0">
                                    <div class="w-100">
                                        <div class="text-center">
                                            <label for="" class="form-label">Status</label>
                                            <input type="text" class="form-control m-0" value="{{this.status}}"
                                                disabled>
                                        </div>
                                        <div class="text-center">
                                            <label for="" class="form-label">Tipo</label>
                                            <input type="text" class="form-control m-0" value="{{this.exchangeType}}"
                                                disabled>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between p-1 mt-1">
                                <p class="m-0"> {{this.updatedAt}}</p>
                                <i class="bi bi-arrows-angle-expand"> Expandir</i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </li>

        {{/each}}
    </ul>
</main>